name: Python Code Quality Checks

on:
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ '*' ]

jobs:
  lint:
    name: Lint & Format
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up
        uses: actions/setup-python@v4
        with:
          python-version: "3.13.9"
          
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install black flake8 flake8-bugbear flake8-docstrings pre-commit

      - name: Run Black
        run: black --check .

      - name: Run Flake8
        run: flake8 . --max-line-length=88 --ignore=D100,D103,D202,D205,D400,D401,E203,E402,W503
